name: Deploy

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache .pnpm-store
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-node${{ matrix.node-version }}-${{ hashFiles('**/pnpm-lock.yaml') }}
      - name: Install pnpm
        run: curl -f https://get.pnpm.io/v6.16.js | node - add --global pnpm@6
      - run: pnpm i
      - run: pnpm build
      - run: pnpm type-check
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.DIGITAL_OCEAN_SSH_KEY }}
          known_hosts: ${{ secrets.DIGITAL_OCEAN_SSH_KNOWN_HOSTS }}
      - name: Deploy to DigitalOcean
        run: ssh ${{ secrets.DIGITAL_OCEAN_SSH_USERNAME }}@${{ secrets.DIGITAL_OCEAN_SSH_HOST }} "cd ~/tauri-apps-bot; git pull; rm .env; echo 'APP_ID=${{ secrets.APP_ID }}' >> .env; echo 'PRIVATE_KEY="${{ secrets.PRIVATE_KEY }}"' >> .env; echo 'WEBHOOK_SECRET=${{ secrets.WEBHOOK_SECRET }}' >> .env; echo 'PORT=9000' >> .env; ls -lah; pnpm i; pm2 delete 'tauri-apps-github-bot' ; pm2 start pnpm --name 'tauri-apps-github-bot' -- start"
